body{
    background-color: rgba(20, 191, 194, 0.562);
}

h1{
    color: rgb(24, 24, 203);
}

h1.dif{
    color: red;
}

.diferente{
    color: red;
}

.borda{
    border: 5px solid white;
}

.bold{
    font-weight: bold;
}

.pad{
    padding: 20px;
    border: 5px solid white;
}

.para{
    margin: 30px;
}

.redondo{
    border-radius: 20px;
    border: 5px solid white;
    padding: 20px;
}